<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<meta http-equiv="content-type" content="text/html;charset=UTF-8"/>

<!--head-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Riode - Ultimate eCommerce Template</title>
    <meta name="keywords" content="HTML5 Template"/>
    <meta name="description" content="Riode - Ultimate eCommerce Template">
    <meta name="author" content="D-THEMES">

    <link rel="icon" type="image/png" th:href="@{/images/icons/favicon.png}">
    <script>
        WebFontConfig = {
            google: {families: ['Poppins:400,500,600,700']}
        };
        (function (d) {
            var wf = d.createElement('script'), s = d.scripts[0];
            wf.src = 'js/webfont.js';
            wf.async = true;
            s.parentNode.insertBefore(wf, s);
        })(document);
    </script>
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/fontawesome-free/css/all.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/animate/animate.min.css}">

    <link rel="stylesheet" type="text/css" th:href="@{/vendor/magnific-popup/magnific-popup.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/sticky-icon/stickyicon.css}">

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/demo30.min.css}">
    <style>
        .input-group {
            display: flex;
            align-items: center;
        }

        .input-group a {
            display: inline-block;
            padding: 11px;
            border: 1px solid rgba(162, 162, 162, 0.58);
            color: #a2a2a2;
            text-align: center;
            text-decoration: none;
        }

        .input-group input[type="number"] {
            width: 50px;
            text-align: center;
        }
    </style>
</head>

<body>
<div class="page-wrapper">
    <h1 class="d-none">Riode - Responsive eCommerce HTML Template</h1>

    <!--header-->
    <th:block th:insert="user/layouts/home/header.html"></th:block>


    <!-- Trang chủ -->

    <main class="main cart">
        <div class="page-content pt-7 pb-10">
            <div class="step-by pr-4 pl-4">
                <h3 class="title title-simple title-step active"><a th:href="@{/cart}">1. Shopping Cart</a></h3>
                <h3 class="title title-simple title-step"><a th:href="@{/checkout}">2. Checkout</a></h3>
                <h3 class="title title-simple title-step"><a th:href="@{/#}">3. Order Complete</a></h3>
            </div>
            <div class="container mt-7 mb-2">
                <div class="row">
                    <div class="col-lg-8 col-md-12 pr-lg-4">
                        <table class="shop-table cart-table">
                            <thead>
                            <tr>
                                <th><span>Product</span></th>
                                <th></th>
                                <th><span>Price</span></th>
                                <th><span>quantity</span></th>
                                <th>Subtotal</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="item : ${listCartItem}">
                                <td class="product-thumbnail">
                                    <figure>
                                        <a href="product-simple.html">
                                            <img th:src="${item.product.imageUrl}" width="100" height="100"
                                                 alt="product">
                                        </a>
                                    </figure>
                                </td>
                                <td class="product-name">
                                    <div class="product-name-section">
                                        <a href="product-simple.html" th:text="${item.product.productName}"></a>
                                    </div>
                                </td>
                                <td class="product-subtotal">
                                    <span class="amount" th:text="${item.product.productPrice}"></span>
                                </td>
                                <td class="product-quantity">
                                    <div class="input-group">
                                        <a th:href="@{/decrease/{id}(id=${item.product.productId})}" class="decrease">-</a>
                                        <input th:value="${item.quantity}" class="form-control" type="number">
                                        <a th:href="@{/increase/{id}(id=${item.product.productId})}" class="increase">+</a>
                                    </div>
                                </td>
                                <td class="product-price">
                                    <span class="amount" th:text="${#numbers.formatDecimal(((item.quantity)*(item.product.productPrice)), 0, 'COMMA', 0, 'POINT') + ' VND'}"></span>
                                </td>
                                <td class="product-close">
                                    <a th:href="@{/delete/{id}(id=${item.product.productId})}" class="product-remove" title="Remove this product">
                                        <i class="fas fa-times" ></i>
                                    </a>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                        <div class="cart-actions mb-6 pt-4">
                            <a th:href="@{/}" class="btn btn-dark btn-md btn-rounded btn-icon-left mr-4 mb-4"><i
                                    class="d-icon-arrow-left"></i>Continue Shopping</a>
                            <button type="submit" class="btn btn-outline btn-dark btn-md btn-rounded btn-disabled">
                                Update
                                Cart
                            </button>
                        </div>
                    </div>
                    <aside class="col-lg-4 sticky-sidebar-wrapper">
                        <div class="sticky-sidebar" data-sticky-options="{'bottom': 20}">
                            <div class="summary mb-4">
                                <h3 class="summary-title text-left">Cart Totals</h3>
                                <table class="total">
                                    <tr class="summary-subtotal">
                                        <td>
                                            <h4 class="summary-subtitle">Total</h4>
                                        </td>

                                        <td>
                                            <p class="summary-total-price ls-s" th:text="${#numbers.formatDecimal(totalAmount, 0, 'COMMA', 0, 'POINT') + ' VND'}"></p>
                                        </td>
                                    </tr>
                                </table>
                                <a th:href="@{/checkout}" class="btn btn-dark btn-rounded btn-checkout">Proceed to
                                    checkout</a>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </main>

    <!--footer-->
    <th:block th:insert="user/layouts/cart/footer.html"></th:block>

</div>

<a id="scroll-top" href="#top" title="Top" role="button" class="scroll-top"><i class="d-icon-arrow-up"></i></a>


<!--toggle-->
<th:block th:insert="user/layouts/home/toggle.html"></th:block>
<!--script-->
<th:block th:insert="user/layouts/home/script.html"></th:block>


</body>

<!-- Mirrored from d-themes.com/html/riode/demo30.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 05 Dec 2023 03:53:16 GMT -->
</html>