<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/sticky/sticky.min.js}"></script>
<script th:src="@{/vendor/imagesloaded/imagesloaded.pkgd.min.js}"></script>
<script th:src="@{/vendor/magnific-popup/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/vendor/owl-carousel/owl.carousel.min.js}"></script>
<script th:src="@{/vendor/elevatezoom/jquery.elevatezoom.min.js}"></script>
<script th:src="@{/vendor/photoswipe/photoswipe.min.js}"></script>
<script th:src="@{/vendor/photoswipe/photoswipe-ui-default.min.js}"></script>

<script th:src="@{/js/main.min.js}"></script>
