<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<meta http-equiv="content-type" content="text/html;charset=UTF-8"/>

<!--head-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Riode - Ultimate eCommerce Template</title>
    <meta name="keywords" content="HTML5 Template"/>
    <meta name="description" content="Riode - Ultimate eCommerce Template">
    <meta name="author" content="D-THEMES">

    <link rel="icon" type="image/png" th:href="@{/images/icons/favicon.png}">
    <script>
        WebFontConfig = {
            google: {families: ['Poppins:400,500,600,700']}
        };
        (function (d) {
            var wf = d.createElement('script'), s = d.scripts[0];
            wf.src = 'js/webfont.js';
            wf.async = true;
            s.parentNode.insertBefore(wf, s);
        })(document);
    </script>
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/fontawesome-free/css/all.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/animate/animate.min.css}">

    <link rel="stylesheet" type="text/css" th:href="@{/vendor/magnific-popup/magnific-popup.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/sticky-icon/stickyicon.css}">

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/demo30.min.css}">
    <style>
        .input-group {
            display: flex;
            align-items: center;
        }

        .input-group a {
            display: inline-block;
            padding: 11px;
            border: 1px solid rgba(162, 162, 162, 0.58);
            color: #a2a2a2;
            text-align: center;
            text-decoration: none;
        }

        .input-group input[type="number"] {
            width: 50px;
            text-align: center;
        }
    </style>
</head>

<body>
<div class="page-wrapper">
    <h1 class="d-none">Riode - Responsive eCommerce HTML Template</h1>

    <!--header-->
    <th:block th:insert="user/layouts/home/header.html"></th:block>


    <!-- Trang chủ -->

    <main class="main order">
        <div class="page-content pt-7 pb-10 mb-10">
            <div class="step-by pr-4 pl-4">
                <h3 class="title title-simple title-step active"><a th:href="@{/cart}">1. Shopping Cart</a></h3>
                <h3 class="title title-simple title-step"><a th:href="@{/checkout}">2. Checkout</a></h3>
                <h3 class="title title-simple title-step"><a th:href="@{/#}">3. Order Complete</a></h3>
            </div>
            <div class="container mt-8">
                <div class="order-message mr-auto ml-auto">
                    <div class="icon-box d-inline-flex align-items-center">
                        <div class="icon-box-icon mb-0">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 50 50"
                                 enable-background="new 0 0 50 50" xml:space="preserve">
<g>
<path fill="none" stroke-width="3" stroke-linecap="round" stroke-linejoin="bevel" stroke-miterlimit="10" d="
											M33.3,3.9c-2.7-1.1-5.6-1.8-8.7-1.8c-12.3,0-22.4,10-22.4,22.4c0,12.3,10,22.4,22.4,22.4c12.3,0,22.4-10,22.4-22.4
											c0-0.7,0-1.4-0.1-2.1"></path>
    <polyline fill="none" stroke-width="4" stroke-linecap="round" stroke-linejoin="bevel" stroke-miterlimit="10"
              points="
											48,6.9 24.4,29.8 17.2,22.3 	"></polyline>
</g>
</svg>
                        </div>
                        <div class="icon-box-content text-left">
                            <h5 class="icon-box-title font-weight-bold lh-1 mb-1">Thank You!</h5>
                            <p class="lh-1 ls-m">Your order has been received</p>
                        </div>
                    </div>
                </div>
                <div class="order-results">
                    <div class="overview-item">
                        <span>Order number:</span>
                        <strong th:text="${order.orderId}"></strong>
                    </div>
                    <div class="overview-item">
                        <span>Status:</span>
                        <strong th:text="${order.status}"></strong>
                    </div>
                    <div class="overview-item">
                        <span>Date:</span>
                        <strong th:text="${order.orderDate}"></strong>
                    </div>
                    <div class="overview-item">
                        <span>Email:</span>
                        <strong><a href="https://d-themes.com/cdn-cgi/l/email-protection" class="__cf_email__"
                                   data-cfemail="c0f1f2f3f4f580a7ada1a9aceea3afad" th:text="${order.user.userEmail}"></a></strong>
                    </div>
                    <div class="overview-item">
                        <span>Total:</span>
                        <strong th:text="${#numbers.formatDecimal(totalAmount, 0, 'COMMA', 0, 'POINT') + ' VND'}"></strong>
                    </div>
                    <div class="overview-item">
                        <span>Payment method:</span>
                        <strong>Cash on delivery</strong>
                    </div>
                </div>
                <a th:href="@{/}" class="btn btn-icon-left btn-dark btn-back btn-rounded btn-md mb-4"><i
                        class="d-icon-arrow-left"></i> Back to List</a>
            </div>
        </div>
    </main>

    <!--footer-->
    <th:block th:insert="user/layouts/cart/footer.html"></th:block>

</div>

<a id="scroll-top" href="#top" title="Top" role="button" class="scroll-top"><i class="d-icon-arrow-up"></i></a>


<!--toggle-->
<th:block th:insert="user/layouts/home/toggle.html"></th:block>
<!--script-->
<th:block th:insert="user/layouts/home/script.html"></th:block>

</body>

<!-- Mirrored from d-themes.com/html/riode/demo30.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 05 Dec 2023 03:53:16 GMT -->
</html>