<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<meta http-equiv="content-type" content="text/html;charset=UTF-8"/>

<!--head-->
<th:block th:insert="user/layouts/home/head.html"></th:block>

<body>
<div class="page-wrapper">
    <h1 class="d-none">Riode - Responsive eCommerce HTML Template</h1>

    <!--header-->
    <th:block th:insert="user/layouts/home/header.html"></th:block>


    <!-- Trang chủ -->
    <main class="main">
        <div class="page-header"
             style="background-image: url('assets/user/images/shop/page-header-back.jpg'); background-color: #3C63A4;">
            <h3 class="page-subtitle">Categories</h3>
            <h1 class="page-title font-weight-semi-bold">Horizontal Filter</h1>
            <ul class="breadcrumb">
                <li><a href="demo1.html"><i class="d-icon-home"></i></a></li>
                <li class="delimiter">/</li>
                <li><a href="shop.html">Categories</a></li>
                <li class="delimiter">/</li>
                <li>Product Tag - Horizontal Filter</li>
            </ul>
        </div>

        <div class="page-content mb-10 pb-3">
            <div class="container">
                <nav class="toolbox toolbox-horizontal sticky-toolbox sticky-content fix-top">
                    <aside class="sidebar sidebar-fixed shop-sidebar">
                        <div class="sidebar-overlay"></div>
                        <a class="sidebar-close" href="#"><i class="d-icon-times"></i></a>
                        <div class="sidebar-content toolbox-left">
                            <div class="toolbox-item select-menu">
                                <a class="select-menu-toggle" href="#">Select Size</a>
                                <ul class="filter-items">
                                    <li><a href="#">Extra Large</a></li>
                                    <li><a href="#">Large</a></li>
                                    <li><a href="#">Medium</a></li>
                                    <li><a href="#">Small</a></li>
                                </ul>
                            </div>
                            <div class="toolbox-item select-menu">
                                <a class="select-menu-toggle" href="#">Select Color</a>
                                <ul class="filter-items">
                                    <li><a href="#">Black</a></li>
                                    <li><a href="#">Blue</a></li>
                                    <li><a href="#">Brown</a></li>
                                    <li><a href="#">Green</a></li>
                                </ul>
                            </div>
                            <div class="toolbox-item select-menu">
                                <a class="select-menu-toggle" href="#">Select Price</a>
                                <ul class="filter-items filter-price">
                                    <li><a href="#">$0.00 - $50.00</a></li>
                                    <li><a href="#">$50.00 - $100.00</a></li>
                                    <li><a href="#">$100.00 - $200.00</a></li>
                                    <li><a href="#">$200.00+</a></li>
                                </ul>
                            </div>
                        </div>
                    </aside>
                    <div class="toolbox-left">
                        <a href="#"
                           class="toolbox-item left-sidebar-toggle btn btn-outline btn-primary btn-rounded btn-icon-right d-lg-none">
                            Filter<i class="d-icon-arrow-right"></i></a>
                        <div class="toolbox-item toolbox-sort select-menu">
                            <select name="orderby" class="form-control">
                                <option value="default" selected="selected">Default Sorting</option>
                                <option value="popularity">Most Popular</option>
                                <option value="rating">Average rating</option>
                                <option value="date">Latest</option>
                                <option value="price-low">Sort forward price low</option>
                                <option value="price-high">Sort forward price high</option>
                                <option value>Clear custom sort</option>
                            </select>
                        </div>
                    </div>
                    <div class="toolbox-right">
                        <div class="toolbox-item toolbox-show select-box text-dark">
                            <label>show :</label>
                            <select name="count" class="form-control">
                                <option value="12">12</option>
                                <option value="24">24</option>
                                <option value="36">36</option>
                            </select>
                        </div>
                        <div class="toolbox-item toolbox-layout">
                            <a href="shop-list-mode.html" class="d-icon-mode-list btn-layout"></a>
                            <a href="shop.html" class="d-icon-mode-grid btn-layout active"></a>
                        </div>
                    </div>
                </nav>
                <div class="select-items">
                    <a href="#" class="filter-clean text-primary">Clean All</a>
                </div>
                <div class="row cols-2 cols-sm-3 cols-md-4 product-wrapper">
                    <div class="product-wrap" th:each="item : ${products}">
                        <div class="product">
                            <figure class="product-media">
                                <a th:href="@{/product-detail/{id}(id=${item.productId})}">
                                    <img th:src="${item.imageUrl}" alt="product" width="280" height="315">
                                </a>
                                <div class="product-label-group">
                                    <label class="product-label label-new">new</label>
                                </div>
                                <div class="product-action-vertical">
                                    <a th:href="@{/addToCart/{productId}(productId=${item.productId})}" class="btn-product-icon" data-toggle="modal"
                                       data-target="#addCartModal" title="Add to cart"><i class="d-icon-bag"></i></a>
                                    <a href="#" class="btn-product-icon btn-wishlist" title="Add to wishlist"><i
                                            class="d-icon-heart"></i></a>
                                </div>
                                <div class="product-action">
                                    <a th:href="@{/product-detail/{id}(id=${item.productId})}" class="btn-product " title="Quick View">Quick
                                        View</a>
                                </div>
                            </figure>
                            <div class="product-details">
                                <div class="product-cat">
                                    <a href="shop-horizontal-filter.html" th:text="${item.category.categoryName}"></a>
                                </div>
                                <h3 class="product-name">
                                    <a href="product.html" th:text="${item.productName}"></a>
                                </h3>
                                <div class="product-price">
                                    <ins class="new-price" th:text="${#numbers.formatDecimal(item.productPrice, 0, 'COMMA', 0, 'POINT')+ ' VND'}"></ins>
                                    <del class="old-price" th:text="${#numbers.formatDecimal(item.productPrice, 0, 'COMMA', 0, 'POINT')+ ' VND'}"></del>
                                </div>
                                <div class="ratings-container">
                                    <div class="ratings-full">
                                        <span class="ratings" style="width:100%"></span>
                                        <span class="tooltiptext tooltip-top"></span>
                                    </div>
                                    <a href="product.html" class="rating-reviews">( 0 reviews )</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <nav class="toolbox toolbox-pagination">
                    <p class="toolbox-item show-info d-block">Showing <span>12 of 56</span> Products</p>
                    <ul class="pagination">
                        <li class="page-item disabled">
                            <a class="page-link page-link-prev" href="#" aria-label="Previous" tabindex="-1"
                               aria-disabled="true">
                                <i class="d-icon-arrow-left"></i>Prev
                            </a>
                        </li>
                        <li class="page-item active" aria-current="page"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item page-item-dots"><a class="page-link" href="#">6</a></li>
                        <li class="page-item">
                            <a class="page-link page-link-next" href="#" aria-label="Next">
                                Next<i class="d-icon-arrow-right"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </main>


    <!--footer-->
    <th:block th:insert="user/layouts/home/footer.html"></th:block>

</div>

<a id="scroll-top" href="#top" title="Top" role="button" class="scroll-top"><i class="d-icon-arrow-up"></i></a>


<!--toggle-->
<th:block th:insert="user/layouts/home/toggle.html"></th:block>
<!--script-->
<th:block th:insert="user/layouts/home/script.html"></th:block>
</body>

<!-- Mirrored from d-themes.com/html/riode/demo30.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 05 Dec 2023 03:53:16 GMT -->
</html>