<footer class="footer appear-animate">
    <div class="container">
        <div class="footer-top">
            <div class="owl-carousel owl-theme row cols-xl-4 cols-lg-3 cols-sm-2 cols-1" data-owl-options="{
                        'items': 1,
                        'nav': false,
                        'dots': false,
                        'autoplay': true,
                        'autoplayTimeout': 4000,
                        'responsive': {
                            '576': {
                                'items': 1
                            },
                            '768': {
                                'items': 2,
                                'autoplay': false
                            },
                            '1200': {
                                'items': 3,
                                'autoplay': false
                            }
                        }
                    }">
                <div class="icon-box icon-box-side slide-icon-box mt-1 mb-1">
                    <i class="icon-box-icon d-icon-truck" style="font-size: 4.6rem;"></i>
                    <div class="icon-box-content">
                        <h4 class="icon-box-title">Free Shipping & Return</h4>
                        <p>Free shipping on orders over $99</p>
                    </div>
                </div>
                <div class="icon-box icon-box-side slide-icon-box icon-box-support mt-1 mb-1">
                    <i class="icon-box-icon d-icon-service"></i>
                    <div class="icon-box-content">
                        <h4 class="icon-box-title">Customer Support 24/7</h4>
                        <p>Instant access to perfect support</p>
                    </div>
                </div>
                <div class="icon-box icon-box-side slide-icon-box mt-1 mb-1">
                    <i class="icon-box-icon d-icon-secure"></i>
                    <div class="icon-box-content">
                        <h4 class="icon-box-title">100% Secure Payment</h4>
                        <p>We ensure secure payment!</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-middle">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="widget">
                        <h4 class="widget-title">Get to know us</h4>
                        <ul class="widget-body">
                            <li><a th:href="@{/#}">About Riode</a></li>
                            <li><a th:href="@{/#}">Careers</a></li>
                            <li><a th:href="@{/#}">Affiliate Program</a></li>
                            <li><a th:href="@{/#}">Show Hosts</a></li>
                            <li><a th:href="@{/#}">Riode Cares</a></li>
                            <li><a th:href="@{/#}">Submit Your Product</a></li>
                        </ul>
                    </div>

                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="widget">
                        <h4 class="widget-title">Account</h4>
                        <ul class="widget-body">
                            <li><a th:href="@{/account.html}">My Account</a></li>
                            <li><a th:href="@{/#}">Our Guarantees</a></li>
                            <li><a th:href="@{/#}">Terms And Conditions</a></li>
                            <li><a th:href="@{/#}">Privacy Policy</a></li>
                            <li><a th:href="@{/#}">Intellectual Property Claims</a></li>
                            <li><a th:href="@{/#}">Site Map</a></li>
                        </ul>
                    </div>

                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="widget">
                        <h4 class="widget-title">Get Help</h4>
                        <ul class="widget-body">
                            <li><a th:href="@{/#}">Shipping & Delivery</a></li>
                            <li><a th:href="@{/#}">Order Status</a></li>
                            <li><a th:href="@{/#}">Brand</a></li>
                            <li><a th:href="@{/#}">Returns</a></li>
                            <li><a th:href="@{/#}">Payment Options</a></li>
                            <li><a th:href="@{/contact-us.html}">Contact Us</a></li>
                        </ul>
                    </div>

                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="widget">
                        <h4 class="widget-title">Contact Info</h4>
                        <ul class="widget-body">
                            <li><a th:href="@{/about-us.html}">About Us</a></li>
                            <li><a th:href="@{/#}">Order History</a></li>
                            <li><a th:href="@{/#}">Returns</a></li>
                            <li><a th:href="@{/#}">Custom Service</a></li>
                            <li><a th:href="@{/#}">Terms & Condition</a></li>
                            <li><a th:href="@{/#}">Track My Order</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="footer-bottom">
        <div class="container">
            <p class="copyright text-center w-100">Riode eCommerce &copy; 2022. All Rights Reserved</p>
        </div>
    </div>
</footer>