<header class="header header-border">
    <div class="header-middle sticky-header fix-top sticky-content has-center">
        <div class="container-fluid">
            <div class="header-left">
                <a th:href="@{/#}" class="mobile-menu-toggle">
                    <i class="d-icon-bars2"></i>
                </a>

                <nav class="main-nav main-nav-1">
                    <ul class="menu">
                        <li>
                            <a th:href="@{/product-all}"><span>Shop</span></a>
                        </li>
                        <li th:each="item : ${session.category}" >
                            <a th:href="@{/product-list/{id}(id=${item.categoryId})}">
                                <span th:text="${item.categoryName}"></span>
                            </a>
                        </li>

                    </ul>
                </nav>
            </div>

            <div class="header-center">
                <a th:href="@{/}" class="logo mr-0">
                    <img th:src="@{/images/demos/demo30/logo.png}" alt="logo" width="154" height="43"/>
                </a>

            </div>

            <div class="header-right">
                <nav class="main-nav main-nav-2">
                    <ul class="menu">
                        <li><a th:href="@{/}">Hot Deals</a></li>
                        <li><a th:href="@{/}">Look book</a></li>
                        <li><a th:href="@{/}">Contact</a></li>
                        <li><a th:href="@{/}">Blog</a></li>
                    </ul>
                </nav>

                <div class="header-search hs-toggle">
                    <a th:href="@{/#}" class="search-toggle" title="search">
                        <i class="d-icon-search"></i>
                    </a>
                    <form action="#" class="input-wrapper">
                        <input type="text" class="form-control" name="search" autocomplete="off"
                               placeholder="Search your keyword..." required/>
                        <button class="btn btn-search" type="submit" title="submit-button">
                            <i class="d-icon-search"></i>
                        </button>
                    </form>
                </div>

                <div class="login-container">
                    <a class="login" th:href="@{/login}" data-toggle="login-modal" title="login">
                        <i class="d-icon-user" th:unless="${session.user != null}"></i>
                    </a>
                    <nav class="main-nav" th:if="${session.user != null}">
                        <ul class="menu">
                            <li class="active">
                                <a class="text-black" th:text="${session.user.userName}"></a>
                                <ul>
                                    <li><a th:href="@{/update-user}">My Account</a></li>
                                    <li><a th:href="@{/logout-user}">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>


                <div class="dropdown cart-dropdown type2 mr-1">
                    <a th:href="@{/cart}" class="cart-toggle">
                        <i class="d-icon-bag"><span class="cart-count" th:text="${session.cartItemCount}"></span></i>
                    </a>


                </div>
            </div>

        </div>
    </div>

</header>