<div class="sticky-icons-wrapper">
    <div class="sticky-icon-links">
        <ul>
            <li><a th:href="@{/}" class="demo-toggle"><i class="fas fa-home"></i><span>Demos</span></a></li>
            <li><a th:href="@{/https://themeforest.net/downloads/}"><i class="fas fa-star"></i><span>Reviews</span></a>
            </li>
            <li><a th:href="@{/cart}"><i class="fas fa-shopping-cart"></i><span>Buy
now!</span></a></li>
        </ul>
    </div>
    <div class="demos-list">
        <div class="demos-overlay"></div>
        <a class="demos-close" th:href="@{/#}"><i class="close-icon"></i></a>
        <div class="demos-content scrollable scrollable-light">
            <h3 class="demos-title">Demos</h3>
            <div class="demos">
            </div>
        </div>
    </div>
</div>