<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--head-->
<th:block th:insert="admin/layouts/homeAdmin/head.html"></th:block>


<body class="  ">
<!-- loader Start -->
<div id="loading">
    <div id="loading-center">
    </div>
</div>
<!-- loader END -->
<!-- Wrapper Start -->
<div class="wrapper">
    <!--sidebar-->
    <th:block th:insert="admin/layouts/homeAdmin/sidebar.html"></th:block>

    <!--navbar-->
    <th:block th:insert="admin/layouts/homeAdmin/navbar.html"></th:block>

    <!--tables-->
    <div class="content-page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="datatable-1" class="table data-table table-striped table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Mã Danh Mục</th>
                                        <th>Tên Danh Mục</th>
                                        <th>Ghi Chú</th>
                                        <th>Trạng Thái</th>
                                        <th style="width: 150px;" class="text-right"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Tiger Nixon</td>
                                        <td>Edinburgh</td>
                                        <td>61</td>

                                        <td class="text-center">
                                            <button class="btn btn-primary">Sửa</button>
                                            <button class="btn btn-danger">Xóa</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>RT Nixon</td>
                                        <td>Edinburgh</td>
                                        <td>61</td>

                                        <td class="text-center">
                                            <button class="btn btn-primary">Sửa</button>
                                            <button class="btn btn-danger">Xóa</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>BH Nixon</td>
                                        <td>Edinburgh</td>
                                        <td>61</td>

                                        <td class="text-center">
                                            <button class="btn btn-primary">Sửa</button>
                                            <button class="btn btn-danger">Xóa</button>
                                        </td>
                                    </tr>

                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th>Name</th>
                                        <th>Position</th>
                                        <th>Office</th>
                                        <th>Age</th>

                                        <th class="text-right"></th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--tables end-->
</div>
<!-- Wrapper End-->
<!--footer-->
<th:block th:insert="admin/layouts/homeAdmin/footer.html"></th:block>

<!--Script-->
<th:block th:insert="admin/layouts/homeAdmin/script.html"></th:block>

</body>
</html>